body {
  background-color: black;
}

#date {
  background-color:black;
    color:white;
    text-align:left;
  font-family: "Helvetica", Sans-Serif;
  font-size:30px;
    padding: 40px 40px 0px 20px;
}

#time {
  background-color:black;
    color:white;
    text-align:left;
  font-family:"Helvetica", Sans-Serif;
  font-size:60px;
    padding: 10px 40px 0px 20px;
}

#weatherLocation{
  background-color:black;
  color:white;
  text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:30px;
    padding: 40px 20px 0px 5px;
}

#weatherToday{
  background-color:black;
  color:white;
    text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:60px; 
  padding: 10px 20px 15px 0px;
}

#weatherIcon {
  background-color:black;
  padding: 10px;
}

div.forecast {
  background-color:black;
  color:white;
  text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:20px;
  padding: 5px 20px;  
}

#timer{
  background-color:black;
  color:white;
    text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:60px; 
  padding: 0px 0px 15px 0px;
  display: none;
}

#taskName{
  background-color:black;
  color:white;
  text-align:left;
  font-family:"Helvetica", Sans-Serif;
  font-size:55px;
  padding: 70px 0px 0px 20px;
  display: none;  
}

#congratulations{
    color:white;
  font-family:"Helvetica", Sans-Serif;
  text-align:center;
  font-size:100px;
  padding: 60px;
  display: none;  
}

#alldone{
    color:white;
  font-family:"Helvetica", Sans-Serif;
  text-align:center;
  font-size:100px;
  padding: 60px;
  display: none;  
}

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  width: 100%;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display:none;
}

.radialtimer {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 9%;
  left: 85%;
  margin: -75px 0 0 -75px;
}
.radialtimer .n {
  position: absolute;
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: "Helvetica";
  font-size: 55px;
  color: white;
}
.radialtimer .slice {
  position: absolute;
  width: 150px;
  height: 150px;
  clip: rect(0px, 150px, 150px, 75px);
}

.radialtimer .slice.nc {
  clip: rect(auto, auto, auto, auto);
}

.radialtimer .slice .q {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 16px black solid;
  border-radius: 50%;
  clip: rect(0px, 75px, 75px, 0px);
  z-index: 2;
}

.radialtimer .slice .pie {
  border: 15px white solid;
  position: absolute;
  width: 120px;
  height: 120px;
  clip: rect(0px, 75px, 150px, 0px);
  border-radius: 50%;
  transition: all 1s linear;
  z-index: 1;
}