body {
  background-color: black;
}

#date {
  background-color:black;
    color:white;
    text-align:left;
  font-family: "Helvetica", Sans-Serif;
  font-size:30px;
    padding: 20px 40px 0px;
}

#time {
  background-color:black;
    color:white;
    text-align:left;
  font-family:"Helvetica", Sans-Serif;
  font-size:60px;
    padding: 10px 40px 0px;
}

#weatherLocation{
  background-color:black;
  color:white;
  text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:30px;
    padding: 20px 40px 0px 5px;
}

#weatherToday{
  background-color:black;
  color:white;
    text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:60px; 
  padding: 10px 40px 15px 0px;
}

#weatherIcon {
  background-color:black;
  padding: 10px;
}

div.forecast {
  background-color:black;
  color:white;
  text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:20px;
  padding: 5px 40px;  
}

#timer{
  background-color:black;
  color:white;
    text-align:right;
  font-family: "Helvetica", Sans-Serif;
  font-size:60px; 
  padding: 10px 40px 15px 0px;
  display: none;
}

#taskName{
  background-color:black;
  color:white;
  text-align:left;
  font-family:"Helvetica", Sans-Serif;
  font-size:60px;
  padding: 40px 40px 0px;
  display: none;  
}

#congratulations{
    color:white;
  font-family:"Helvetica", Sans-Serif;
  text-align:center;
  font-size:100px;
  display: none;  
  text-shadow:
    -1px -1px 0 #FFC0CB,
    1px -1px 0 #FFC0CB,
    -1px 1px 0 #FFC0CB,
    1px 1px 0 #FFC0CB;
}

#instructions{
  background-color:black;
  color:white;
  position: absolute;
  top: 80%;
  left: 35%;
  font-family:"Helvetica", Sans-Serif;
  font-size:20px;
  padding: 40px 40px 0px;
  display: none;  
}

#alldone{
    color:white;
  font-family:"Helvetica", Sans-Serif;
  text-align:center;
  font-size:100px;
  display: none;  
  text-shadow:
    -1px -1px 0 #FFC0CB,
    1px -1px 0 #FFC0CB,
    -1px 1px 0 #FFC0CB,
    1px 1px 0 #FFC0CB;
}

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  width: 100%;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.radialtimer {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 89%;
  margin: -100px 0 0 -100px;
}
.radialtimer .n {
  position: absolute;
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  font-family: "Helvetica";
  font-size: 70px;
  color: white;
}
.radialtimer .slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
}

.radialtimer .slice.nc {
  clip: rect(auto, auto, auto, auto);
}

.radialtimer .slice .q {
  position: absolute;
  width: 170px;
  height: 170px;
  border: 16px black solid;
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 0px);
  z-index: 2;
}

.radialtimer .slice .pie {
  border: 15px white solid;
  position: absolute;
  width: 170px;
  height: 170px;
  clip: rect(0px, 100px, 200px, 0px);
  border-radius: 50%;
  transition: all 1s linear;
  z-index: 1;
}